/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    background-image: url(../img/bg.png);
    background-color: #f7ede2;
    }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   
/* type styles */   
   
 h1{
 	font-family: 'droid sans', sans-serif;
 	font-size: 1.5em;
 	color: #a26f8d;
 }  
 
 p{
 	font-family: 'droid sans', sans-serif;
 	font size: 1em;
 	font-weight: 400;
 	line-height: 1.5em;
 }
 
 .fb a{
 	font-family: 'droid sans',sans-serif;
 	color: #c9c7c7;
 	text-decoration: none;
 	
}

 .fb a:hover{
 	color: #3B5998;
 }
 
 .twit a{
 	font-family: 'droid sans',sans-serif;
 	color: #c9c7c7;
 	text-decoration: none;
 	
 }
 
 .twit a:hover{
 	color: #2F7CBC;
 }
 
 .pin a{
 	font-family: 'droid sans',sans-serif;
 	color: #c9c7c7;
 	text-decoration: none;
 }
 
 .pin a:hover{
 	color: #CB2027;
 }
 
 
 
 
 
   

/*==========================*/
.container{
	width: 960px;
	height: auto;
	margin: 0 auto;
}

header{
    position: relative;
}

#logo{
    position: relative;
    margin-top: 1.5em;
	
}

#nav{
    margin-top: -6.30em;
	position: relative;
	padding: 0 0 0 0;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
	text-decoration: none;
	font-weight: 800;
	}
	
		
li.nav{ 
	float: right;
	display: inline-block;
	padding: 0 3em 0 0;
	color:#c3c0b8;
	text-decoration: none;
	font-weight: 800;
	text-shadow: 2px 2px 3px rgba(255,255,255,0.1)
	}	
	
	
li.nav a{
	letter-spacing: .125em;
	font-size: 1em;
	text-decoration: none;
	font-family: 'droid sans', sans-serif;
	font-weight: 800;
	letter-spacing: .125em;
	max-width: 300px;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	-ms-transition: all .2s ease;
	transition: all .2s ease;
}
	  
		
li.nav a:hover{
    /*-moz-transition: color 0.2s ease-out 0s*/;
	text-decoration: none;
	color: #222;
}

	 
.purple{
    color:#a26f8d ;
	
}

.orange{
    color:#f27153 ;
	
}

.yorange{
	color:#f7a883 ;
}

.blue{
	color:#9a94c7 ;
}

.green{
	color: #66bf9e;
}

.blue2{
	color: #B5CCE2;
}

#title{
    margin: 0 auto;
    margin-top: 5.25em;
    position: relative;
	color: #000000;
	font-family: 'droid sans', sans-serif;
	font-size: 1.5em;
	font-weight: 800;
	letter-spacing: .125em;
	text-shadow: 2px 2px 3px rgba(255,255,255,0.1)
}

#wrapper{
	height: auto;
	position: relative;
}

#slider{
    position: relative;
	margin-top: 2em;
}

#slideshow { 
    margin: 0 auto; 
    position: relative; 
    width: 1000px; 
    height: auto; 
    
}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}

#main{
    margin-top: 31.5em;
	position: relative;
	width: 100%;
	height: auto;
	margin-left: .85em;
}

#col1{
	max-width: 25em;
	float: left;
}

#col2{
	max-width: 23.5em;
	float: right;
	margin: 0 4em 0 0;
}

#social{
    font-family: 'droid sans',sans-serif;
    font-size: 1.5em;
    font-weight: 800;
    color: #c9c7c7;
}


#calbox{
    background-color: #b5cce2;
    border: 3px solid #A278B0;
    border-radius: .60em;
}

#pad{
	padding: .25em .25em .25em .52em;
	margin:  0 auto;
}

.dates{
	font-weight: 800;
	color: #000000;
}

.link{
	font-size: .8em;
	color: #a886a0;
	margin: 0 auto;
}

footer{
    margin-top: 76em;
	height:7em;
	background-color: #A26F8D;
	width: 102%;
}

#idlink{
    padding: 1.5em;
	text-align: left;
	font-family: 'droid sans', sans-serif;
	font-weight: 600;
	font-size: 1em;
	color: #000000;
	float: left;
}

#footlogo{
	float: right;
	margin-top: 1em;
	
}





















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
